<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cipher Menu</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-4xl p-6">
        <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" 
        alt="hutech" style="display: block;  margin-left: auto; margin-right: auto; width: 30%;">
        <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h1>
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-8 text-uppercase">Võ Trọng Nghĩa 22DTHH2 Hello World !</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <a href="caesar" class="block p-6 bg-white rounded-lg shadow-lg hover:bg-blue-50 hover:shadow-xl transition duration-200">
                <h2 class="text-xl font-semibold text-gray-700">Caesar Cipher</h2>
            </a>
            <a href="vigenere" class="block p-6 bg-white rounded-lg shadow-lg hover:bg-blue-50 hover:shadow-xl transition duration-200">
                <h2 class="text-xl font-semibold text-gray-700">Vigenère Cipher</h2>
            </a>
            <a href="railfence" class="block p-6 bg-white rounded-lg shadow-lg hover:bg-blue-50 hover:shadow-xl transition duration-200">
                <h2 class="text-xl font-semibold text-gray-700">Rail Fence Cipher</h2>
            </a>
            <a href="playfair" class="block p-6 bg-white rounded-lg shadow-lg hover:bg-blue-50 hover:shadow-xl transition duration-200">
                <h2 class="text-xl font-semibold text-gray-700">Playfair Cipher</h2>
            </a>
        </div>
    </div>
</body>
</html>